<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codezealer.zmall.commodity.mapper.CommodityPropertyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.codezealer.zmall.commodity.entity.CommodityProperty">
        <id column="id" property="id" />
        <result column="property_name" property="propertyName" />
        <result column="property_desc" property="propertyDesc" />
        <result column="input_type" property="inputType" />
        <result column="input_values" property="inputValues" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, property_name, property_desc, input_type, input_values, gmt_create, gmt_modified
    </sql>

</mapper>
