<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codezealer.zmall.commodity.mapper.CommodityBrandMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.codezealer.zmall.commodity.entity.CommodityBrand">
        <id column="id" property="id" />
        <result column="brand_chinese_name" property="brandChineseName" />
        <result column="brand_english_name" property="brandEnglishName" />
        <result column="brand_alias_name" property="brandAliasName" />
        <result column="logo" property="logo" />
        <result column="brand_intro" property="brandIntro" />
        <result column="brand_authorization_voucher" property="brandAuthorizationVoucher" />
        <result column="location" property="location" />
        <result column="brand_comment" property="brandComment" />
        <result column="is_enabled" property="isEnabled" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, brand_chinese_name, brand_english_name, brand_alias_name, logo, brand_intro, brand_authorization_voucher, location, brand_comment, is_enabled, gmt_create, gmt_modified
    </sql>

</mapper>
