<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codezealer.zmall.finance.mapper.FinanceSupplierSettlementDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.codezealer.zmall.finance.entity.FinanceSupplierSettlementDetail">
        <id column="id" property="id" />
        <result column="supplier_id" property="supplierId" />
        <result column="settlement_period" property="settlementPeriod" />
        <result column="purcahse_settlement_order_ids" property="purcahseSettlementOrderIds" />
        <result column="total_settlement_amount" property="totalSettlementAmount" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, supplier_id, settlement_period, purcahse_settlement_order_ids, total_settlement_amount, gmt_create, gmt_modified
    </sql>

</mapper>
