<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codezealer.zmall.finance.mapper.FinanceReturnGoodsRefundDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.codezealer.zmall.finance.entity.FinanceReturnGoodsRefundDetail">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="order_no" property="orderNo" />
        <result column="return_goods_worksheet_id" property="returnGoodsWorksheetId" />
        <result column="return_goods_warehouse_entry_order_id" property="returnGoodsWarehouseEntryOrderId" />
        <result column="user_account_id" property="userAccountId" />
        <result column="refundl_amount" property="refundlAmount" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id, order_no, return_goods_worksheet_id, return_goods_warehouse_entry_order_id, user_account_id, refundl_amount, gmt_create, gmt_modified
    </sql>

</mapper>
