<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codezealer.zmall.inventory.mapper.InventoryGoodsStockMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.codezealer.zmall.inventory.entity.InventoryGoodsStock">
        <id column="id" property="id" />
        <result column="goods_sku_id" property="goodsSkuId" />
        <result column="sale_stock_quantity" property="saleStockQuantity" />
        <result column="locked_stock_quantity" property="lockedStockQuantity" />
        <result column="saled_stock_quantity" property="saledStockQuantity" />
        <result column="stock_status" property="stockStatus" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, goods_sku_id, sale_stock_quantity, locked_stock_quantity, saled_stock_quantity, stock_status, gmt_create, gmt_modified
    </sql>

</mapper>
