<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codezealer.zmall.order.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.codezealer.zmall.order.entity.Order">
        <id column="id" property="id" />
        <result column="user_account_id" property="userAccountId" />
        <result column="username" property="username" />
        <result column="order_no" property="orderNo" />
        <result column="order_status" property="orderStatus" />
        <result column="consignee" property="consignee" />
        <result column="delivery_address" property="deliveryAddress" />
        <result column="consignee_cell_phone_number" property="consigneeCellPhoneNumber" />
        <result column="freight" property="freight" />
        <result column="pay_type" property="payType" />
        <result column="total_amount" property="totalAmount" />
        <result column="discount_amount" property="discountAmount" />
        <result column="coupon_amount" property="couponAmount" />
        <result column="payable_amount" property="payableAmount" />
        <result column="invoice_title" property="invoiceTitle" />
        <result column="taxpayer_id" property="taxpayerId" />
        <result column="order_comment" property="orderComment" />
        <result column="is_comment_published" property="isCommentPublished" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_account_id, username, order_no, order_status, consignee, delivery_address, consignee_cell_phone_number, freight, pay_type, total_amount, discount_amount, coupon_amount, payable_amount, invoice_title, taxpayer_id, order_comment, is_comment_published, gmt_create, gmt_modified
    </sql>

</mapper>
