<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codezealer.zmall.purchase.mapper.PurchaseSupplierMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.codezealer.zmall.purchase.entity.PurchaseSupplier">
        <id column="id" property="id" />
        <result column="supplier_name" property="supplierName" />
        <result column="company_name" property="companyName" />
        <result column="company_address" property="companyAddress" />
        <result column="contactor" property="contactor" />
        <result column="contact_phone_number" property="contactPhoneNumber" />
        <result column="account_period" property="accountPeriod" />
        <result column="bank_name" property="bankName" />
        <result column="bank_account" property="bankAccount" />
        <result column="account_holder" property="accountHolder" />
        <result column="invoice_title" property="invoiceTitle" />
        <result column="taxpayer_id" property="taxpayerId" />
        <result column="business_scope" property="businessScope" />
        <result column="supplier_comment" property="supplierComment" />
        <result column="enterprise_qualification" property="enterpriseQualification" />
        <result column="cooperate_contract" property="cooperateContract" />
        <result column="price_contract" property="priceContract" />
        <result column="purchase_contract" property="purchaseContract" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, supplier_name, company_name, company_address, contactor, contact_phone_number, account_period, bank_name, bank_account, account_holder, invoice_title, taxpayer_id, business_scope, supplier_comment, enterprise_qualification, cooperate_contract, price_contract, purchase_contract, gmt_create, gmt_modified
    </sql>

</mapper>
